@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal selector  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono";
}

/* Navbar  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px;
}

nav>h2 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

nav>button {
    padding: 17px 24px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
}


/* common paragraph style  */
.para {
    color: rgb(113, 113, 113);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}

/* common h1 style  */
.commonH1 {
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}


/* banner section  */
#bannerSection {
    background-image: url(./assets/Hero-bg.png);
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
    padding: 0 220px;
}

#bannerSection>h1 {
    color: rgb(13, 19, 33);
    font-size: 40px;
    font-weight: 800;
}

#bannerSection>a>button {
    color: rgb(255, 255, 255);
    background-color: black;
    border: none;
    border-radius: 8px;
    padding: 15px 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}


/* why web dev section  */
#whyWebDev {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 70px 150px;
    padding: 70px 80px;
}

#whyWebDev>h1 {
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}

#whyWebDev>p {
    padding: 24px 0;
    text-align: center;
}

.whyWebDevMainDiv {
    display: flex;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    padding: 48px;
    margin: 20px 0;
}

.whyWebDevMainDiv div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    padding: 0 150px 0 0;
}

.whyWebDevMainDiv h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.whyWebDevMainDiv button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}

#div2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

#div2>div {
    padding: 0 130px 0 120px;
}


/* inspire Section  */
#inspireSection {
    text-align: center;
    margin: 100px 150px;
}

#inspireSection>p {
    text-align: center;
    margin: 30px 150px;
}

#inspireSection>div {
    padding: 30px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-top: 50px;
}

#inspireSection>div>iframe {
    border-radius: 16px;
}



/* current section  */
#currentSection {
    margin: 50px 150px 100px;
    text-align: center;
}

#currentSection>p {
    margin: 30px 100px;
    text-align: center;
}

#currentSectionCardDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 24px;
}

.currentSectionCard {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    justify-content: center;
    align-items: start;
    text-align: left;
    border-radius: 16px;
}

#currentSectionCard1 {
    background-color: rgba(255, 76, 30, 0.05);
}

#currentSectionCard2 {
    background: rgba(0, 76, 232, 0.05);
}

#currentSectionCard3 {
    background: rgba(255, 223, 0, 0.05);
}

.currentSectionCard>a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}


/* support section  */
#supportSection {
    background-image: url(./assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    background-position: center;
    margin: 0px 150px 100px;
    border-radius: 16px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
    background-blend-mode: overlay;
}

#supportSection p {
    color: rgb(203, 203, 203);
    margin-bottom: 30px;
}

#supportSection h1 {
    font-size: 32px;
    font-weight: 700;
}

#supportSection form input[type=text] {
    padding: 15px 20px;
    width: 550px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
}

#supportSection form input[type=submit] {
    padding: 15px 30px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}



/* footer  */
footer {
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

footer > div{
    display: flex;
    gap: 18px;
    justify-content: space-between;
    align-items: center;
}